.container{
    /* align-items: center; */
    /* justify-content: center; */
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap:0px;
}

.container div{
box-sizing: border-box;
/* background-color: #01b5fc; */
/* background-color: aqua; */
border: solid #363636 1px;
}

